body{
    background-image: url(./image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(148, 255, 127);
}
th{
    border: 1px solid blue;
}
td{
    border: 1px solid blue;
}
.art{
    background-color: rgb(43, 226, 156);
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: blue;
}
button{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f,#00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
transition: .3s;
}
button span{
    background-color: #111;
    padding: 2px 15px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}